# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.env
*.secret
local_settings.py

# Migrations
*/migrations/*

# VSCode / IDEs
.vscode/
.idea/

# Env
env/
venv/
ENV/

# Production static files (gerados)
productionfiles/