{% extends "base.html" %}
{% load static %}

{% block titulo %}Carros Disponíveis - AlugaFácil{% endblock %}

{% block conteudo %}
    <h1>Carros Disponíveis para Aluguel</h1>
    <ul>
        {% for carro in carros %}
        <li>
            <a href="{% url 'carro_detalhes' carro.id %}">
                {{ carro.marca }} {{ carro.modelo }} - Ano: {{ carro.ano }} - Cor: {{ carro.cor }} - Placa: {{ carro.placa }} - 
                {% if carro.disponibilidade %}Disponível{% else %}Indisponível{% endif %}
            </a>
        </li>
        {% empty %}
        <li>Nenhum carro disponível no momento.</li>
        {% endfor %}
    </ul>
{% endblock %}
