{% extends "base.html" %}
{% load static %}

{% block titulo %}Detalhes do Carro{% endblock %}

{% block conteudo %}
    <div class="mycard">
        <h1>Detalhes do Carro</h1>
        <p><strong>Marca:</strong> {{ carro.marca }}</p>
        <p><strong>Modelo:</strong> {{ carro.modelo }}</p>
        <p><strong>Ano:</strong> {{ carro.ano }}</p>
        <p><strong>Cor:</strong> {{ carro.cor }}</p>
        <p><strong>Placa:</strong> {{ carro.placa }}</p>
        <p><strong>Valor da Diária:</strong> R$ {{ carro.valor_diaria }}</p>
        <p><strong>Disponibilidade:</strong> 
            {% if carro.disponibilidade %} Disponível 
            {% else %} Indisponível 
            {% endif %}
        </p>
    </div>

    <p style="text-align: center;">
        <a href="{% url 'carros' %}">Voltar para Carros</a>
    </p>
{% endblock %}
