{% extends "base.html" %}
{% load static %}

{% block titulo %}
    AlugaFácil - Dashboard
{% endblock %}

{% block conteudo %}
    <div class="mycard">
        <h1>Dashboard</h1>
        <div>
            <canvas id="graficoNumVolumes"></canvas>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const dadosDashboard = {
            carrosAlugados: {{ carros_alugados }},
            carrosDisponiveis: {{ carros_disponiveis }},
            totalClientes: {{ total_clientes }},
            locacoesAtivas: {{ locacoes_ativas }}
        };
    </script>
    <script src="{% static 'myscripts.js' %}"></script>
{% endblock %}
