{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Login - AlugaFácil</title>
    <link rel="stylesheet" href="{% static 'mystyles.css' %}">
</head>
<body>
    <div class="topnav">
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'carros' %}">Carros</a> |
        <a href="{% url 'login' %}">Login</a>
    </div>

    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Entrar</button>
    </form>

    <p>Não tem uma conta? <a href="{% url 'cadastro' %}">Cadastre-se aqui</a></p>
</body>
</html>
